<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test|<%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" href="apti.png" type="image/x-icon">
</head>
<body>
    <div id="wrapper">
        <div>
            <h1 id="title">Take Test</h2>
        </div>
        <div  id="border" >
            <ul>
                <li >
                    <a href="/logic"><h2>Logical Reasoning</h2></a>
                    <h4>10 Questions</h4>
                </li>
                <li>
                    <a href="/verbal"><h2>Verbal Ability</h2></a>
                    <h4>10 Questions</h4>
                </li>
                <li>
                    <a href="/qa"> <h2>Quantitative Aptitude</h2> </a>
                    <h4>10 Questions</h4>
                </li>
            </ul>
        </div>
        <div class="logout">
            <a href="/logout"><button type="button">Logout</button></a>
        </div>
        <br>
        <p>Best Viewed in Desktop and PC's</p>
    </div>
      <%- include('./partials/scripts.ejs')%>
</body>
</html>