<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="marks.css">
    <link rel="shortcut icon" href="apti.png" type="image/x-icon">
</head>
<body>
    <div class="border-gradient border-gradient-green mark">
        <h3>Your response have been submitted</h3>
        <a href="/test"><h2>Take Test</h2></a> 
           
             
    </div>
</body>
</html>